{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["babel-plugin-inline-import"],
  "ignore": ["node_modules/**"]
}
